/.DS_Store
/Takeout
/analyze2.py
/analyze_fail.py
/cached_entries.txt
/daily_search_activity2.png
/daily_search_activity_adjusted.png
/daily_search_activity_correct.png
/daily_search_activity_correct2.png
/scratchpaper.py
/screenflux.py
/screentime.py
/takeout-20250211T190101Z-001.zip